body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
}

@font-face {
    font-family: headerfont;
    src: url('../fonts/Lobster_1.3.otf');
}

header {
    font-weight: bold;
    background-color: #00a597;
}

.searchbox {
    float: right;
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}

.headerlogo > img {

    height: 100px;






.headerlogo {
    float: left;
    margin-right: 10px;
}





/*nav {
    height: 45px;
    width: 100%;
    !*background-color: #5c5045;*!
    !*background: -webkit-linear-gradient(left, #603813, #341c05);*! !* For Safari 5.1 to 6.0 *!
    !*background: -o-linear-gradient(right, #603813, #341c05);*! !* For Opera 11.1 to 12.0 *!
    !*background: -moz-linear-gradient(right, #603813, #341c05);*! !* For Firefox 3.6 to 15 *!
    !*background: linear-gradient(to right, #603813, #341c05);*!
    margin-bottom: 5px;
    margin-top: 20px;
    padding-left: 5px;
}

nav ul {
    list-style: none;
    padding: 0px;
}

nav ul li {
    display: block;
}


.navlink {
    height: 35px;
    margin-right: 10px;
    font-size: 18px;
    float: left;
    padding-top: 12px;
    color: white;
    text-decoration: none;
}*/

nav#menu {
    float: right;
    margin-right: 20px;
}

nav#menu #menu-nav {
    margin: 0;
    padding: 0;
}

nav#menu #menu-nav li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

nav#menu #menu-nav li:first-child {
    margin-left: 0;
}

nav#menu #menu-nav li a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 60px;
    display: block;
    text-transform: uppercase;
}

nav#menu #menu-nav li.current a,
nav#menu #menu-nav li a:hover {
    color: #DE5E60;
}














.navlink.active {
}

#welcomeimage {
    float: left;
    width: 700px;
}

#welcometext {
    float: left;
    width: 70%;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-column-count: 2;
    column-count: 2;
}

#welcometext > header {
    color: #603813;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 3px;
}


