
html, body {
    height: 100%;
}

html, a{
    width:100%;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body{
    background: #fefeff;
    color:#7F8289;
    font-weight:300;
    font-size:16px;
    font-family: 'Titillium Web', sans-serif;
    line-height:28px;
}


a{
    color:#DE5E60;
    text-decoration: none;
    cursor: pointer;

    -webkit-transition: color 0.1s linear 0s;
    -moz-transition: color 0.1s linear 0s;
    -o-transition: color 0.1s linear 0s;
    transition: color 0.1s linear 0s;
}

a:hover,
a:active,
a:focus{
    outline: 0;
    color:#FFFFFF;
    text-decoration:none;
}

a img {
    border: none;
}

a > img {
    vertical-align: bottom;
}

img {
    max-width: none;
}

strong {
    font-weight: 500;
}

p {
    margin: 0 0 30px;
}

hr {
    border-style: dashed;
    border-color: #3C3F45;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 50px 0;
}

.align_left{
    float:left;
    margin:0 25px 0 0px!important;
}

.align_right{
    float:right;
    margin:0 0 0 25px!important;
}

.text_align_left {
    text-align: left;
}

.text_align_center {
    text-align: center;
}

.text_align_right {
    text-align: right;
}

.color-text {
    color: #000000;
}

.through{
    text-decoration:line-through;
}

.page {
    background: #fdfdfe;
    padding: 100px 0;
    position: relative;
    z-index: 99;
}

.page-alternate {
    background: #fdfdfe;
    padding: 100px 0;
    position: relative;
    z-index: 99;
}

input, button, select, textarea {
    font-weight: 300;
    font-family: 'Titillium Web', sans-serif;
    outline: 0;
}

input:focus,
textarea:focus,
input[type="text"]:focus {
    outline: 0;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #7F8289;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #7F8289;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #7F8289;
}




header {
    width: 100%;
    z-index: 99;
}

header .sticky-nav {
    position: relative;
    width: 100%;
    height: 80px;
    background: #00a597;
    z-index: 1001;

    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

header .sticky-nav.stuck {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}

header #logo {
    float: left;
    padding: 5px 0;
    margin-left: 20px;
    height: 100%;
}


.headerlogo > img {

    height: 60px;

}


.headerlogo {
    float: left;
    margin-right: 10px;
}




nav#menu {
    float: right;
    margin-right: 20px;
}

nav#menu #menu-nav {
    margin: 0;
    padding: 0;
}

nav#menu #menu-nav li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

nav#menu #menu-nav li:first-child {
    margin-left: 0;
}

nav#menu #menu-nav li a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 100px;
    display: block;
    text-transform: uppercase;
}

nav#menu #menu-nav li.current a,
nav#menu #menu-nav li a:hover {
    color: #000000;
}


#welcomeimage {
    float: left;
    width: 700px;
}

#welcometext {
    float: left;
    width: 70%;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-column-count: 2;
    column-count: 2;
}








/*
   Footer
 */

footer {
    position: relative;
    width: 100%;
    height: auto;
    background: #00a597;
    text-align: center;
    z-index: 99;
}

footer .credits {
    color: #FFFFFF;
    font-size: 13px;
    margin-bottom: 0;
    padding: 20px 0;
    text-transform: uppercase;
}